---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    
    {% include feature/image.html objectid="image_001" width="30" %}

  
  </div>
  <div class="col-md-4">  


    {% include index/featured-terms.html field="creator" max=10 title="Creators" btn-color="info" %}

    {% include index/featured-terms.html field="seasonality" title="Seasonality" btn-color="outline-secondary" %}

    {% include index/featured-terms.html field="mealtype" max=10 title="Meal Type" btn-color="info" %}
    
    {% include index/featured-terms.html field="cookingmethod" title="Cooking Method" btn-color="outline-secondary" %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
